<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>微金所</title>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.min.js"></script>
    <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/index.css">

</head>

<body>
    <!--顶部通栏-->
    <header class="wjs_topBar hidden-sm hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="#" class="wjs_app">
                        <span class="wjs_icon wjs_icon_phone"></span>
                        <span>手机微金所</span>
                        <span class="glyphicon glyphicon-menu-down"></span>
                        <img src="images/code.jpg" alt="" srcset="">
                    </a>
                </div>
                <div class="col-md-5">
                    <span class="wjs_icon wjs_icon_tel">4006-89-4006</span>
                    <span>( 服务时间：9:00-21:00 )</span>
                </div>
                <div class="col-md-2">
                    <a href="">常见问题</a>
                    <a href="">财富登录</a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn-default btn-resgiter">免费注册</a>
                    <a href="#" class="btn btn-link btn-login">登录</a>
                </div>
            </div>
        </div>
    </header>
    <!-- 导航栏 -->
    <nav class="navbar wjs_nav">
        <!-- 导航得内容容器 -->
        <div class="container">
            <!-- 包含 商标区域 和 切换按钮（在移动端显示） -->
            <div class="navbar-header">
                <!-- 切换按钮 -->
                <!-- 
            类名：collapsed    折叠
            属性：
            data-toggle="collapse"  申明折叠组件
            data-target="#bs-example-navbar-collapse-1"  控制的目标元速=选择器
            其他：
            aria-expanded="false"     aria-* : 代表提供给屏幕阅读器使用的（盲人阅读器）
            class="sr-only"     代表提供给屏幕阅读器使用的（盲人阅读器）
                -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="wjs_icon wjs_icon_logo"></span>
                    <span class="wjs_icon wjs_icon_name"></span>
                </a>
            </div>
            <!--导航链接 表单 其他内容 被切换 -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- 默认的导航 -->
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">我要投资</a>
                    </li>
                    <li>
                        <a href="#">我要借贷</a>
                    </li>
                    <li>
                        <a href="#">平台介绍</a>
                    </li>
                    <li>
                        <a href="#">新手专区</a>
                    </li>
                    <li>
                        <a href="#">最新动态</a>
                    </li>
                    <li>
                        <a href="#">微平台</a>
                    </li>
                </ul>
                <!-- 右对齐的导航 -->
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                    <li>
                        <a href="#">个人中心</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- 轮播图 -->
    <section class="wjs_banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- 点盒子 -->
            <ol class="carousel-indicators">

            </ol>

            <!-- 图片盒子 -->
            <div class="carousel-inner">
            </div>

            <!-- 上一张下一张按钮 -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        </div>
        <!-- 信息 -->
        <section class="wjs_info"></section>
        <!-- 预约 -->
        <section class="wjs_book"></section>
        <!-- 产品 -->
        <section class="wjs_product"></section>
        <!-- 新闻 -->
        <section class="wjs_news"></section>
        <!-- 合作伙伴 -->
        <footer class="wjs_partnet"></footer>

        <!-- 使用模板引擎 -->
        <script type='text/Templelate' id="pointTemplate">
            <% for(var i=0; i < list.length; i++){ %>
                <li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="<%=i==0?'active':''%>"></li>
            <%}%>
        </script>
        <script type="text/Templelate" id="imageTemplate">
            <% for(var i=0; i < list.length; i++){ %>
                <div class="item <%=i==0?'active':''%>">
                    <% if(isM){ %>
                        <a href="#" class="m_imigBox"><img src="<%=list[i].mUrl%>" alt="#"></a>
                    <% } else { %>
                        <a href="#" class="pc_imgBox" style="background-image: url(<%=list[i].pcUrl%>);"></a>
                    <% } %>
                </div>
            <%}%>

            </script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="lib/jquery/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="lib/artTemplelate/template-native.js"></script>
        <script src="js/index.js"></script>
</body>

</html>